<div{{ attributes.defaults({class: "col-12"}) }}>
    <twig:Bootstrap:Card>
        <twig:block name="content">
            <small class="mb-2 d-block">{{ workspace.createdAt | date('d/m/Y') }}</small>
            <h3 class="h6 fw-semibold mb-3">{{ workspace.name }}</h3>
            {% if workspace.description %}
            <p>{{ workspace.description }}</p>
            {% endif %}
            <p class="mb-0">
                <a href="{{ path('workspace.show', {slug: workspace.slug}) }}" class="btn btn-sm btn-outline-primary">Consulter</a>
            </p>
        </twig:block>
    </twig:Bootstrap:Card>
</div>
