<div {{ attributes }}>
    {{ form_start(form, {
        'attr': {
            'data-action': 'live#action:prevent',
            'data-live-action-param': 'update'
        }
    }) }}

    {{ form_row(form.name) }}

    {% include "partials/form/_description.html.twig" %}

    {{ form_rest(form) }}

    <button 
        data-loading="action(update)|addAttribute(disabled)" 
        class="btn btn-sm btn-primary"
        type="submit">Enregistrer</button>
    {{ form_end(form) }}
</div>