<div {{ attributes }}>
    {{ form_start(form, {
        'attr': {
        'data-action': 'live#action:prevent',
        'data-live-action-param': 'save'
        }
    }) }}

        {{ form_row(form.name) }}
        {{ form_row(form.description) }}

    <button class="btn btn-sm btn-primary" type="submit">Enregistrer</button>
    {{ form_end(form) }}
</div>
