<div {{ attributes }}>
    {{ form_start(form, {
        'attr': {
        'data-action': 'live#action:prevent',
        'data-live-action-param': 'save'
        }
    }) }}

        {{ form_row(form.name) }}
        
        <div data-controller="character-counter" data-character-counter-countdown-value="true" class="mb-3">
            {{ form_label(form.description) }}
            {{ form_widget(form.description) }}
            {{ form_help(form.description) }}
            {{ form_errors(form.description) }}
            <small class="d-block mt-2">Nombre de caractères restant : <span data-character-counter-target="counter">0</span></small>
        </div>

        {{ form_rest(form) }}

    <button
        data-loading="action(save)|addAttribute(disabled)"
        class="btn btn-sm btn-primary" 
        type="submit">Enregistrer</button>
    {{ form_end(form) }}
</div>
