<div{{ attributes }}>

    <p class="fw-semibold">Nombre de workspaces : {{ this.workspaces.totalItemCount }}</p>

    {% if this.workspaces.totalItemCount != 0 %}
    <twig:Bootstrap:Form:Container>
        <twig:block name="content">
            <twig:Bootstrap:Form:Search class="col-12 col-md-6 col-xl-4" placeholder="Rechercher un workspace" />
        </twig:block>
    </twig:Bootstrap:Form:Container>
    {% endif %}

    <div class="mb-2 d-flex flex-wrap gap-2" data-loading="addClass(opacity-50)">
        {% for workspace in this.workspaces %}
            <twig:Workspace:Card key="workspace-{{ workspace.id }}" workspace="{{ workspace }}"/>
            {% else %}
            <p>Vous n'avez pas encore créer de Workspace</p>
        {% endfor %}
    </div>

    {{ knp_pagination_render(this.workspaces) }}
</div>
