<section {{ attributes.defaults({class: 'mt-4'}) }}>

    <header class="mb-2">
        <h3 class="mb-0 h6 fw-semibold">Nombre de {{ plurial(this.tasks|length, 'tâche', 'tâches') }} : {{ this.tasks|length }}</h3>
    </header>

    <twig:Bootstrap:Form:Container>
        <twig:block name="content">

            <div class="col-12 col-md-6 col-xl">
                <select name="status-{{ section.id }}" id="status-{{ section.id }}" class="form-select" data-model="status">
                    <option value="">Tous les status</option>
                    {% for case in enum('App\\Enum\\Status').cases %}
                    <option value="{{ case.value }}">{{ case.name|trans|capitalize }}</option>
                    {% endfor %}
                </select>
            </div>
                
            <div class="col-12 col-md-6 col-xl">
                <select name="priority-{{ section.id }}" id="priority-{{ section.id }}" class="form-select" data-model="priority">
                    <option value="">Toutes les priorités</option>
                    {% for case in enum('App\\Enum\\Priority').cases %}
                    <option value="{{ case.value }}">{{ case.name }}</option>
                    {% endfor %}
                </select>
            </div>
                
            <div class="col-12 col-md-6 col-xl">
                <select name="archived-{{ section.id }}" id="archived-{{ section.id }}" class="form-select" data-model="archived">
                    <option value="-1">Tâches archivés</option>
                    <option value="1">Oui</option>
                    <option value="0">Non</option>
                </select>
            </div>

            <div class="col-12 col-md-6 col-xl">
                <select name="completed-{{ section.id }}" id="completed-{{ section.id }}" class="form-select" data-model="completed">
                    <option value="-1">Tâches complétées</option>
                    <option value="1">Oui</option>
                    <option value="0">Non</option>
                </select>
            </div>

        </twig:block>
    </twig:Bootstrap:Form:Container>

    <div class="d-flex gap-2 flex-wrap">
        {% for task in this.tasks %}
        <twig:Task:TaskCard key="task-{{ task.id }}" task="{{ task }}" />
        {% endfor %}
    </div>
</section>