<article {{ attributes.defaults({class: 'col-12'}) }} data-loading="addClass(opacity-50)">
    <twig:Bootstrap:Card class="bg-white">
        <twig:block name="content">

            {% if not isDisplayUpdatedForm %}
                <header class="mb-3">
                    <small>{{ task.createdAt|date('d/m/Y') }}</small>
                    <h4 class="h6 mb-0 fw-semibold">{{ task.title }}</h4>
                </header>

                {% if task.content %}
                    <div data-controller="read-more" data-read-more-more-text-value="Lire la suite" data-read-more-less-text-value="Réduire le texte">
                        <div class="my-content" data-read-more-target="content">
                            {{ task.content|sanitize_html }}
                        </div>
                    
                        <button class="btn btn-sm btn-link px-0" data-action="read-more#toggle">Lire la suite</button>
                    </div>
                {% endif %}

                <footer class="mt-4 d-sm-flex justify-content-between align-items-center">
                    <div class="mb-2 mb-sm-0">
                        <a href="#" class="cursor text-decoration-none" data-action="live#action:prevent"
                            data-live-action-param="toggleDisplayUpdatedForm">
                            <twig:Badge type="primary" data-action="live#action" data-live-action-param="toggleDisplayUpdatedForm">
                                <twig:ux:icon name="tabler:edit" class="icon" />
                            </twig:Badge>
                        </a>
                        
                        <a href="#" class="cursor text-decoration-none" data-action="live#action:prevent"
                            data-live-action-param="toggleDisplayRemoveCard">
                            <twig:Badge type="danger" data-action="live#action" data-live-action-param="toggleDisplayUpdatedForm">
                                <twig:ux:icon name="tabler:trash" class="icon" />
                            </twig:Badge>
                        </a>
                    </div>

                    <div>
                        {% if task.completed %}
                        <twig:Badge type="success" title="Complétée">
                            <twig:ux:icon name="tabler:check" class="icon" />
                        </twig:Badge>
                        {% endif %}
                        
                        {% if task.archived %}
                        <twig:Badge type="secondary" title="Archivée">
                            <twig:ux:icon name="tabler:archive" class="icon" />
                        </twig:Badge>
                        {% endif %}
                        
                        <twig:Badge type="{{ task.priority.color }}" title="{{ task.priority.value }}">
                            <twig:ux:icon name="{{ task.priority.icon }}" class="icon" />
                        </twig:Badge>
                        
                        <twig:Badge type="{{ task.status.color }}" title="{{ task.status.value }}">
                            <twig:ux:icon name="{{ task.status.icon }}" class="icon" />
                        </twig:Badge>
                        
                        {% if task.limitedAt %}
                        <twig:Badge type="primary" title="{{ task.limitedAt|date('d/m/Y') }}">
                            <twig:ux:icon name="tabler:calendar" class="icon" />
                        </twig:Badge>
                        {% endif %}
                    </div>
                </footer>

                {% if isDisplayRemoveCard %}
                <div class="mt-3 d-lg-inline-flex align-items-center gap-2 bg-opacity-10 bg-danger p-3">
                    <p class="mb-lg-0">Voulez-vous supprimer cette tâche ?</p>
                    <p class="mb-0">
                        <button 
                            data-action="live#action"
                            data-live-action-param="remove" 
                            class="btn btn-sm btn-danger">Oui
                        </button>
                        
                        <button 
                            data-action="live#action"
                            data-live-action-param="toggleDisplayRemoveCard" 
                            class="btn btn-sm btn-primary">Non
                        </button>
                    </p>
                </div>
                {% endif %}

            {% else %}
            <div data-loading="addClass(opacity-50)">
                <div class="d-flex mb-3 justify-content-end">
                    <button class="btn btn-sm btn-primary" type="button" data-action="live#action:prevent"
                        data-live-action-param="toggleDisplayUpdatedForm">
                        <twig:ux:icon name="tabler:x" class="icon" />
                    </button>
                </div>
                <twig:Task:TaskUpdatedForm task="{{ task }}" />
            </div>
            {% endif %}

        </twig:block>
    </twig:Bootstrap:Card>
</article>
