<section {{ attributes }}>
    {# Titre #}
    <header class="d-flex align-items-center gap-2 mb-3">
        <twig:Badge class="cursor" type="primary" data-bs-toggle="modal" data-bs-target="#sectionRegister">
            <twig:ux:icon name="tabler:plus" class="icon" />
        </twig:Badge>
        <h3 class="mb-0 h6 fw-semibold">Nombre de sections : {{ this.sections|length }}</h3>
    </header>
    {# Titre #}

    {# Filtre et recherche #}
    <twig:Bootstrap:Form:Container>
            <twig:block name="content">
                <twig:Bootstrap:Form:Search class="col-12 col-md-6 col-xl-4" placeholder="Rechercher une section" />
            </twig:block>
    </twig:Bootstrap:Form:Container>
    {# Filtre et recherche #}
    
    {% if this.sections is empty %}
        <p>Aucun résultat.</p>
    {% endif %}

    {# Liste des sections #}
    <div class="mb-2 d-flex flex-wrap gap-2" data-loading="addClass(opacity-50)">
        {% for section in this.sections %}
            <twig:Section:SectionCard loading="defer" key="section-{{ section.id }}" section="{{ section }}"/>
        {% endfor %}
    </div>
    {# Liste des sections #}

    {# Modal d'ajout d'une section #}
    <twig:Bootstrap:Modal title="Ajouter une section" id="sectionRegister">
        <twig:block name="content">
            <twig:Section:SectionForm project="{{ project }}" />
        </twig:block>
    </twig:Bootstrap:Modal>
    {# Modal d'ajout d'une section #}

    {# Modal de modification d'une section #}
    <twig:Bootstrap:Modal title="Modifier une section" id="sectionUpdate">
        <twig:block name="content">
            <twig:Section:SectionForm project="{{ project }}" />
        </twig:block>
    </twig:Bootstrap:Modal>
    {# Modal de modification d'une section #}
</section>
