{% extends 'base.html.twig' %}

{% block title %}{{ workspace.name }}{% endblock %}

{% block body %}
<section>
    <twig:Partials:HeaderPage title="{{ workspace.name }}">
        <twig:block name="content">
            <p>Créer le {{ workspace.createdAt|date('d/m/Y') }}</p>
            {% if workspace.description %}
                <p>{{ workspace.description }}</p>
            {% endif %}
            <div>
                <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#workspaceEdit">Modifier</button>
            </div>
        </twig:block>
    </twig:Partials:HeaderPage>

    {% include "partials/_flashes.html.twig" %}

    <twig:Bootstrap:Modal title="Modifier un workspace" id="workspaceEdit">
        <twig:block name="content">
            <twig:Workspace:EditForm workspace="{{ workspace }}"/>
        </twig:block>
    </twig:Bootstrap:Modal>
</section>
{% endblock %}
