{% extends 'base.html.twig' %}

{% block title %}{{ project.name }}{% endblock %}

{% block body %}
    <section>
        <twig:Layout:HeaderPage title="{{ project.name }}">
            <twig:block name="content">
                <p>Créer le {{ project.createdAt|date('d/m/Y') }}</p>

                {% if project.archived %}
                <p class="d-flex align-items-center gap-2" title="Archivé">
                    <twig:Badge type="secondary">
                        <twig:ux:icon name="tabler:archive" class="icon" />
                    </twig:Badge>
                    <span class="fw-semibold">Projet archivé</span>
                </p>
                {% endif %}

                {% if project.description %}
                    <p class="mb-0">{{ project.description }}</p>
                {% endif %}
            </twig:block>

            <twig:block name="footer">
                <div class="d-grid d-md-flex gap-2">
                    <a href="{{ path('workspace.show', {slug: project.workspace.slug}) }}" class="btn btn-outline-primary">{{
                        project.workspace.name }}
                    </a>
                    <button data-bs-toggle="modal" data-bs-target="#projectUpdate" class="btn btn-primary">Modifier</button>
                    <button data-bs-toggle="modal" data-bs-target="#projectRemove" class="btn btn-danger">Supprimer</button>
                </div>
            </twig:block>
        </twig:Layout:HeaderPage>

        {# Modal de modification #}
        <twig:Bootstrap:Modal title="Modifier un projet" id="projectUpdate">
            <twig:block name="content">
                <twig:Project:UpdateForm project="{{ project }}"/>
            </twig:block>
        </twig:Bootstrap:Modal>
        {# Modal de modification #}

        {# Modal de suppression #}
        <twig:Bootstrap:Modal title="Supprimer un projet" id="projectRemove">
            <twig:block name="content">
                <form action="{{ path('project.remove', {id: project.id}) }}" method="POST">
        
                    <input type="hidden" name="_method" value="DELETE">
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('project_remove') }}">
        
                    <p>Confirmez la suppression de votre projet ?</p>
                    <button type="submit" class="btn btn-sm btn-primary">Oui</button>
                </form>
            </twig:block>
        </twig:Bootstrap:Modal>
        {# Modal de suppression #}
    
        {% include "partials/_flashes.html.twig" %}
    
    </section>
{% endblock %}
